<%= form_for(@anchorage_ground) do |f| %>
  <% if @anchorage_ground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anchorage_ground.errors.count, "error") %> prohibited this anchorage_ground from being saved:</h2>

      <ul>
      <% @anchorage_ground.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
