<div class="anchoring_form">
<%= form_for(@anchorage_ground) do |f| %>
  <% if @anchorage_ground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anchorage_ground.errors.count, "error") %> prohibited this anchorage_ground from being saved:</h2>

      <ul>
      <% @anchorage_ground.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %> <%= f.text_field :name, :class => "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.submit t('.confirm'), :class => "btn" %>
  </div>
<% end %>

</div>
