<% content_for :header do %>
<h1><%= t('.anchorage_ground') %></h1>
<% end %>

<% @anchorage_grounds.each_with_index do |anchorage_ground, i| %>
<div class="anchorage_ground">
  <h2>
    <%= anchorage_ground.name %>
    <small><%= t('.confirmed_amount') %>(<%= anchorage_ground.anchorings.confirmed.size %>)</small>
    <small><%= t('.anchored_amount') %>(<%= anchorage_ground.anchorings.anchored.size %>)</small>
  </h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#anchor<%= i%>"><%= t('.anchor') %></a></li>
    <li><a href="#sail<%= i%>"><%= t('.sail') %></a></li>
  </ul>

  <div class="tab-content">
    <div id="anchor<%= i%>" class="tab-pane fade active in">
      <table class="table table-hover">
	<thead>
  	  <tr>
	    <th><h4>#</h4></th>
	    <th><h4><%= t('.ship_name') %></h4></th>
  	  </tr>
  	</thead>

	<tbody>
        <% anchorage_ground.anchorings.confirmed.each_with_index do |anchoring, i| %>
	  <tr>
	    <td><h4><%= i+1 %></h4></td>
	    <td><h4><%= link_to anchoring.ship_name, edit_anchoring_path(anchoring) %></h4></td>
          </tr>
        <% end %>
	</tbody>
      </table>
    </div>

    <div id="sail<%= i%>" class="tab-pane fade in">
      <table class="table table-hover">
	<thead>
  	  <tr>
	    <th><h4>#</h4></th>
	    <th><h4><%= t('.ship_name') %></h4></th>
  	  </tr>
  	</thead>

	<tbody>
        <% anchorage_ground.anchorings.anchored.each_with_index do |anchoring, i| %>
	  <tr>
	    <td><h4><%= i+1 %></h4></td>
	    <td><h4><%= link_to anchoring.ship_name, edit_anchoring_path(anchoring) %></h4></td>
          </tr>
        <% end %>
	</tbody>
      </table>
    </div>
  </div>  
</div>
<% end %>
