<% content_for :header do %>
<h1><%= t('.anchorage_ground_info') %></h1>
<% end %>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><%= t('.name') %></>
  <dd><%= @anchorage_ground.name %></dd>
</dl>


<%= link_to t('.edit'), edit_anchorage_ground_path(@anchorage_ground), class: "btn btn-default"%> 
<%= link_to t('.back'), anchorage_grounds_path, class: "btn btn-default" %>
