<% content_for :header do %>
<h1><%= t('.history') %></h1>
<% end %>

<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header"> </div>
  <div class="collapse navbar-collapse">
    <%= form_tag history_path, class: "navbar-form navbar-left", method: "get", role: "search" do %>
      <div class="form-group">
	<%= text_field_tag "ship_name", params[:ship_name],class:"form-control", placeholder: t('.ship_name') %>
      </div>
      <div class="form-group">
	<%= text_field_tag "anchorage_ground_name", params[:anchorage_ground_name],class:"form-control", placeholder: t('.anchorage_ground_name') %>
      </div>
      <div class="form-group">
	<%= text_field_tag "anchor_month", params[:anchor_month],class:"form-control", placeholder: "#{t('.apply_month')} #{t('.apply_month_format')}" %>
      </div>

      <%= label_tag t('.order_by') %>
      <div class="form-group">
	<%= select_tag :order_by, options_for_select(order_by_options, params[:order_by]), class: "form-control" %>
      </div>
      <div class="form-group">
	<%= select_tag :order, options_for_select(order_options, params[:order]), class: "form-control" %>
      </div>

      <button type="submit" class="btn btn-default"><%= t('.search') %></button>
    <% end %>
  </div>
</nav>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('.ship_name') %></th>
      <th><%= t('.anchorage_ground') %></th>
      <th><%= t('.apply_month') %></th>
      <th><%= t('.anchor_date') %></th>
      <th><%= t('.sail_date') %></th>
    </tr>
  </thead>

  <tbody>
  <% @anchorings.each_with_index do |anchoring, i| %>
    <tr>
      <td><%= i+1+params[:page].to_i*PER_PAGE %>
      <td><%= link_to anchoring.ship_name, history_anchoring_path(anchoring) %></td>
      <td><%= anchoring.anchorage_ground.name if anchoring.anchorage_ground %></td>
      <td><%= l anchoring.created_at %></td>
      <td><%= l anchoring.actual_anchor_date if anchoring.actual_anchor_date %></td>
      <td><%= l anchoring.actual_sail_date if anchoring.actual_sail_date %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<%= will_paginate @anchorings, renderer: BootstrapPagination::Rails %>
