<% content_for :header do %>
<h1><%= t('.applies') %><h1>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('.ship_name') %></th>
      <th><%= t('.anchor_date') %></th>
      <th><%= t('.sail_date') %></th>
    </tr>
  </thead>

  <tbody>
  <% @anchorings.each_with_index do |anchoring, index| %>
    <tr>
      <td><%= index+1+params[:page].to_i*PER_PAGE %>
      <td><%= link_to anchoring.ship_name, apply_anchoring_path(anchoring) %></td>
      <td><%= l anchoring.anchor_date %></td>
      <td><%= l anchoring.sail_date %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<%= will_paginate @anchorings, renderer: BootstrapPagination::Rails %>
