<div class="anchoring_form">

  <%= form_for @user, :html => {class: "", role:"from"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count => @user.errors.size, :model => t('activerecord.models.user')) %>
      </h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 40, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, :size => 40, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, :size => 40, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit t('.regist'), :class => "btn" %>
  </div>

<% end %>

</div>
