<% content_for :header do %>
<h1><%= t('.user_info') %></h1>
<% end %>

<p id="notice"><%= notice %></p>


<dl class="dl-horizontal">
  <dt><%= t('.name') %></>
  <dd><%= @user.name %></dd>
  
  <dt><%= t('.hashed_password') %></dt>
  <dd><%= @user.hashed_password %></dd>
</dl>


<%= link_to t('.edit'), edit_user_path(@user), class: "btn btn-default" %>
<%= link_to t('.back'), users_path, class: "btn btn-default" %>
