<div class="anchoring_form">

<%= form_for(@anchoring) do |f| %>
  <% if @anchoring.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anchoring.errors.count, "error") %> prohibited this anchoring from being saved:</h2>

      <ul>
      <% @anchoring.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ship_name %>
    <%= f.text_field :ship_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ship_name_en %>
    <%= f.text_field :ship_name_en, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ship_length %>
    <%= f.number_field :ship_length, :class => "form-control" %> </div>
  <div class="form-group">
    <%= f.label :cargo %>
    <%= f.text_field :cargo, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gt %>
    <%= f.number_field :gt, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nt %>
    <%= f.number_field :nt, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :max_draft %>
    <%= f.number_field :max_draft, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :power %>
    <%= f.number_field :power, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :anchor_reason %>
    <%= f.text_field :anchor_reason, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :anchor_date %> <br />
    <%= f.date_select :anchor_date, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sail_date %> <br /> 
    <%= f.date_select :sail_date, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :pier %>
    <%= f.text_field :pier, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ship_contact %>
    <%= f.text_field :ship_contact, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contacter %>
    <%= f.text_field :contacter, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cellphone %>
    <%= f.text_field :cellphone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fax %>
    <%= f.text_field :fax, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit t('.confirm'), class: "btn" %>
  </div>
<% end %>

</div>
