<% content_for :header do %>
  <h1>Anchoring Detail</h1>
<% end %>

<%= render :partial => "anchoring", :object => @anchoring %> 

<%= form_for @anchoring, url: anchor_sail_anchoring_path do |f| %>
  <dl class="dl-horizontal">
    <dt><%= f.label :actual_anchor_date %></dt>
    <dd>
    <% if @anchoring.status == 'confirmed' %>
      <%= f.datetime_select :actual_anchor_date %>
    <% else %>
      <%= f.datetime_select :actual_anchor_date, disabled: 'disabled' %>
    <% end %>
    </dd>


    <% if @anchoring.status == 'anchored' %>
    <dt><%= f.label :actual_sail_date %></dt>
    <dd><%= f.datetime_select :actual_sail_date %></dd>
    <% end %>

    <dt><%= f.submit %></dt>
  </dl>
<% end %>
