<p id="notice"><%= notice %></p>

<%= render :partial => "anchoring", :object => @anchoring %>

<dl class="dl-horizontal">
  <dt><%= t('.actual_anchor_date') %></>
  <dd><%= l @anchoring.actual_anchor_date %></dd>
  
  <dt><%= t('.actual_sail_date') %></dt>
  <dd><%= l @anchoring.actual_sail_date %></dd>
</dl>

<%= link_to t('.back'), { controller: "anchoring_mng", action: "history", id: @anchoring }, class: 'btn btn-default'%>

