<% content_for :header do %>
<h1><%= t('.listing_anchorings') %></h1>
<% end %>

<table class="table">
  <tr>
    <th><%= t('.report_org') %></th>
    <th><%= t('.ship_name') %></th>
    <th><%= t('.apply_month') %></th>
    <th></th>
  </tr>

<% @anchorings.each do |anchoring| %>
  <tr>
    <td><%= anchoring.report_org %></td>
    <td><%= anchoring.ship_name %></td>
    <td><%= l anchoring.created_at %></td>
    <td>
      <%= link_to t('.show'), anchoring, class: "btn btn-primary" %>
      <%= link_to t('.edit'), edit_anchoring_path(anchoring), class: "btn btn-primary" %>
      <%= link_to t('.destory'), anchoring, class: "btn btn-primary", method: :delete, data: { confirm: t('.are_you_sure') } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_anchoring'), new_anchoring_path, class: "btn btn-default"  %>
