<% content_for :header do %>
<h1><%= t('.anchoring_detail') %></h1>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => "anchoring", :object => @anchoring %>

<%= link_to t('.edit'), edit_anchoring_path(@anchoring), class: "btn btn-default" %> 
<%= link_to t('.back'), anchorings_path, class: 'btn btn-default' %>
