<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @anchoring.category %>
</p>

<p>
  <b>Ship name:</b>
  <%= @anchoring.ship_name %>
</p>

<p>
  <b>Ship name en:</b>
  <%= @anchoring.ship_name_en %>
</p>

<p>
  <b>Country:</b>
  <%= @anchoring.country %>
</p>

<p>
  <b>Ship length:</b>
  <%= @anchoring.ship_length %>
</p>

<p>
  <b>Cargo:</b>
  <%= @anchoring.cargo %>
</p>

<p>
  <b>Amount:</b>
  <%= @anchoring.amount %>
</p>

<p>
  <b>Gt:</b>
  <%= @anchoring.gt %>
</p>

<p>
  <b>Nt:</b>
  <%= @anchoring.nt %>
</p>

<p>
  <b>Max draft:</b>
  <%= @anchoring.max_draft %>
</p>

<p>
  <b>Power:</b>
  <%= @anchoring.power %>
</p>

<p>
  <b>Anchor reason:</b>
  <%= @anchoring.anchor_reason %>
</p>

<p>
  <b>Anchor date:</b>
  <%= @anchoring.anchor_date %>
</p>

<p>
  <b>Sail date:</b>
  <%= @anchoring.sail_date %>
</p>

<p>
  <b>Pier:</b> <%= @anchoring.pier %>
</p>

<p>
  <b>Ship contact:</b>
  <%= @anchoring.ship_contact %>
</p>

<p>
  <b>Contacter:</b>
  <%= @anchoring.contacter %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @anchoring.cellphone %>
</p>

<p>
  <b>Fax:</b>
  <%= @anchoring.fax %>
</p>


<%= link_to 'Back', anchorings_path %>
<%= link_to 'Confirm', confirm_anchoring_path(@anchoring)  %>
