<!DOCTYPE html>
<html>
<head>
  <title>AnchoringMng</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="#"><%= t '.title' %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <li <% if current_page?(root_path) %>class="active"<% end %> ><%= link_to t('.applies'), root_path %></li>
            <li <% if current_page?(index_anchorings_anchorage_grounds_path) %>class="active"<% end %> ><%= link_to t('.anchorage_ground'), index_anchorings_anchorage_grounds_path %></li>
	    <li <% if current_page?(history_path) %>class="active"<% end %> ><%= link_to t('.history'), history_path %></li>
	    <li><%= link_to t('.anchorings'), anchorings_path%></li>
	    <li><%= link_to t('.anchorage_grounds'), anchorage_grounds_path %></li>
	    <% if is_admin %>
	    <li><%= link_to t('.users'), users_path %></li>
	    <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
	    <% if session[:user_id] != nil %>
	    <li><%= button_to t('.change_password'), edit_password_user_path(session[:user_id]), :method => 'get', :class => "btn btn-default navbar-btn" %>
	    <li><%= button_to t('.logout'), logout_path, :method => 'delete', :class => "btn btn-default navbar-btn" %>
	    <% else %>
	    <li><%= button_to t('.signin'), login_path, :method => 'get', :class => "btn btn-default navbar-btn" %>
	    <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-header">
      <%= yield :header %>
    </div>

    <%= yield %>
  </div>


</body>
</html>
